@{
    Layout = "_Layout";
    ViewData["title"] = "NoBinding";
}
<form asp-controller="testbinding" asp-action="nobinding" method="post" class="w-[200px]">
    <input class="txt-primary" name="name" placeholder="name" />
    <input class="txt-primary" name="birthyear" placeholder="birthyear" />
    <button class="btn-primary" type="submit">Submit</button>
</form>
<h2>@ViewData["name"]</h2>
<h2>@ViewData["birthyear"]</h2>