@model MyApp.Web.Models.Account.LoginModel
@{
    Layout = "_Layout";
}
<form asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="w-[200px] flex flex-col space-y-2">
    <div>
        <label asp-for="UserName">UserName</label>
        <input asp-for="UserName" type="text" name="username" class="txt-primary"/>
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" name="password" class="txt-primary" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">Remember Me</label>
        <input asp-for="RememberMe" type="checkbox" name="rememberme" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div>
        <button type="submit" class="btn-primary">Login</button>
    </div>
</form>
