@{
}
<li class="graybox boxhover"><a href="/admin/categories">Category</a></li>
<li class="graybox boxhover"><a href="/admin/tags">Tag</a></li>
<li class="graybox boxhover"><a href="/admin/headingtags">HeadingTag</a></li>
<li class="graybox boxhover"><a href="/admin/posts">Post</a></li>
<li class="graybox boxhover"><a href="/admin/users">User</a></li>
<li class="graybox boxhover"><a href="/admin/SystemInfor">SystemInfor</a></li>
<li class="graybox boxhover"><a href="/admin/test">Test</a></li>



