@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';


:root {
    --main-font-size: 1.2rem;
    --main-font-weight: bold;
    --main-color: #4a4a4a;
    --color1: #DBA979;
    --color2: #E8EFCF;
    --color3: #211551;
    --color4: #AFD198;
}

.theme-default {
    --color-primary: #faae13;
    --color-secondary: #fe803b;
    --color-text-primary: #333;
    --color-text-secondary: #898a8d;
    --color-text-third: #2192ff;
    --color-text-fourth: #47b5ff;
    --color-bg: #fff;
    --color-bg-primary: #f5f6fa;
    --color-bg-secondary: #E8EFCF;
    --color-bg-icon: #e4e6eb;
    --color-bg-hover: #fcfbdc;
    --color-error: #e61414;
    --color-shadow: #0f172a;
    --color-line: #ddd;
    --color-fur: #ffb141;
    --color-fur-dark: #f5832c;
    --color-spot: #f9584c;
    --color-snout: #544258;
    --color-collar: #3eab6c;
    --duration: .7s;
    --semi-duration: calc(var(--duration)/2);
    --easing: cubic-bezier(.5,0,.5,1);
    --stagger: calc(var(--semi-duration)*-1/2)
}
a{
    text-decoration:underline;
    color: blue;
}

.form-group {
    @apply flex flex-row space-x-1;
}
.form-group label{
    min-width: 120px;
}
dl{
    @apply flex flex-row;
    flex-wrap: wrap;
}
dl > dt {
    @apply w-1/5;
    display: block;
    font-weight: bold;
    clear: right;
}
dl > dd{
    margin:auto;
    display: block;
}
dl > dd {
    @apply w-4/5;
}
.form-group > input[type="text"], .form-group > input[type="datetime-local"] {
    min-width: 239px;
}
form>.form-group{
    @apply space-y-1;
}
form input[value="Delete"] {
    @apply btn-danger;
}
.row form{
    @apply flex flex-col;
}

div.row {
    @apply flex flex-col space-y-1;
}

/*https://flowbite.com/docs/components/buttons/*/
.btn-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}
.btn-danger {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    @apply w-fit;
}
.text-danger {
    @apply text-red-600;
}
.txt-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
}
.t-head {
    @apply text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400
}
.t-body {
    @appy bg-white border-b dark:bg-gray-800 dark:border-gray-700;
}
th {
    @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white;
}
td {
    @apply px-6 py-4;
}
.graybox {
    @apply flex flex-col bg-bg-primary p-3 rounded-lg space-y-2;
}
.whitebox {
    @apply flex flex-col bg-bg p-[1px] rounded-lg space-y-2 shadow-md;
}
.boxhover {
    @apply hover:bg-bg-hover;
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.color4 {
    color: var(--color4);
}

.bg-color1 {
    background-color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

.bg-color4 {
    background-color: var(--color4);
}

h1 {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--color4);
    text-transform: uppercase;
}

h2 {
    font-size: 2.0rem;
    font-weight: bold;
}

h3 {
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color4);
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
    font-weight: bold;
}

h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

.body1 {
    font-size: 1.1rem;
}

.body2 {
    font-size: 1rem;
}
tr:hover {
    @apply hover:bg-bg-hover;
}
th, td {
    border-bottom: 1px solid #ddd;
}
