<header class="bg-primary flex justify-between items-center shadow-md" >
    <div class="brand flex flex-row">
        <div class=" p-2">
            <a class="brand" href="/" >
                <div class="flex flex-row items-center space-x-2"> 
                    <img class="rounded-full" width="30" height="30" alt="logo" src="/logo.jpg" />
                <h1 class="bg-primary text-gray-100 font-bold">Airdrop</h1>
                </div>
            </a>
        </div>

    </div>
    <div class="searchbox"></div>
</header>