<header class="bg-primary flex justify-between items-center shadow-md" >
    <div class="brand flex flex-row">
        <div className=" p-2">
            <a href="/" className="flex flex-row items-center space-x-2">
                <div class="w-fit h-fit">
                    <img class="rounded-full" width="30" height="30" alt="logo" src="logo.jpg"/>
                </div>
                <div>
                    <h1 className="bg-primary text-gray-100 font-bold">Airdrop</h1>
                </div>
                
            </a>
        </div>

    </div>
    <div class="searchbox"></div>
</header>