
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Aircap-@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    @RenderSection("header", required:false)

</head>

<body class="theme-default container mx-auto space-y-2">
    <partial name="_Header"></partial>
    @*@Html.PartialAsync("_Header")*@
    <div class="flex flex-row space-x-2">
        <div class="leftbar w-[200px]">
            <ul class="flex flex-col space-y-2 whitebox">
                @RenderSection("nav", required:false)
                <partial name="_LeftBar"></partial>
            </ul>
        </div>
        <div>@RenderBody()</div>
    </div>
    @*@RenderSection("footer", required:false)*@
    <partial name="_Footer"></partial>
    
</body>

</html>
